# Virtual Environment
.venv/
venv/
env/
credit/

# Python cache
__pycache__/
.mypy_cache
.pytest_cache
.ruff_cache
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Build and distribution
build/
dist/
*.egg-info/

# Local data and secrets
.env
*.db
*.sqlite3

# airflow logs
airflow-docker/logs

#zen config
.zen/config.yaml

# DVC cache
.dvc/cache

# Other
.DS_Store
mlops_project_plan.md
repomix-output.xml
