# Virtual Environment
.venv/
venv/
env/
credit/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# Build and distribution
build/
dist/
*.egg-info/

# Local data and secrets
.env
*.db
*.sqlite3
/data/raw/
/data/processed/

# DVC cache
.dvc/cache

# Other
.DS_Store
mlops_project_plan.md
